[Unit]
Description=Atualização automática do sistema
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/env bash /usr/local/bin/update.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
