[Unit]
Description=Add SSH Key to Agent
After=ssh-agent.service
Requires=ssh-agent.service

[Service]
Type=oneshot
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-add /home/maykon/.ssh/main/id_ed25519
ExecStart=/usr/bin/ssh-add /home/maykon/.ssh/ufsc/id_ed25519

[Install]
WantedBy=default.target
