# ~/.local/share/applications/appflowy-tray.desktop
[Desktop Entry]
Type=Application
Name=AppFlowy-Tray
Exec=/home/maykon/local/bin/tray/appflowy-tray.py
Icon=appflowy
Keywords=Notes
Terminal=false
Hidden=false
NoDisplay=false

