[Desktop Entry]
Exec=prime-run /opt/firefox-bin/firefox --ProfileManager --new-window https://chatgpt.com/
Encoding=UTF-8
Version=1.0
Icon=/home/maykon/.local/share/icons/gpt.png
Type=Application
Terminal=false
NoDisplay=false
Name=GPT
Comment=Interface para o Chat GPT
